
<script>
    function changeMode(ele) {
        if (localStorage.theme === "dark") {
            localStorage.theme = "light"
            document.documentElement.classList.remove("dark")
        } else {
            localStorage.theme = "dark"
            document.documentElement.classList.add("dark")   
        }
    }

    function loadIcon(ele) {
        if (localStorage.theme === "dark") {
            console.log("darkening icon");
            ele.src = "/icons/dark.svg"
        } else {
            console.log("lightening icon")
            ele.src = "/icons/light.svg"
        }
    }
</script>

<nav class="text-slate-200 z-10 bg-blue-500 dark:bg-blue-900 grid grid-rows-2 md:gap-4 justify-items-center  md:flex w-screen py-5 px-10 justify-between items-center border-b-2 dark:border-slate-600 sticky top-0 left-0">
    <a href="/" class=" rounded-xl"><img src="/images/SunkBlogo.svg" alt="" class="h-20 border-none "></a>
    <div class="md:w-auto grid grid-cols-4 md:grid-cols-5 gap-x-2 md:gap-x-10 font-primary">
        <a href="/" class="hover:bg-blue-400 text-blue-600 hover:text-white dark:text-white dark:hover:bg-blue-600 p-3 text-center rounded-xl ">Home</a>
        <a href="" class="hover:bg-blue-400 text-blue-600 hover:text-white dark:text-white dark:hover:bg-blue-600 p-3 text-center rounded-xl ">Docs</a>
        <a href="" class="hover:bg-blue-400 text-blue-600 hover:text-white dark:text-white dark:hover:bg-blue-600 p-3 text-center rounded-xl ">Contact</a>
        <a href="/about" class="hover:bg-blue-400 text-blue-600 hover:text-white dark:text-white dark:hover:bg-blue-600 p-3 text-center rounded-xl ">About</a>
        <button onclick="changeMode(this)" class="col-span-4 md:col-auto text-slate-200 p-3 text-center rounded-xl flex justify-center bg-blue-500 dark:bg-blue-600">
                <img src="/icons/dark.svg" onshow="loadIcon(this)" alt="dark/light mode icon" class=" h-full px-3">
        </button>
    </div>
</nav>