{{ define "main" }}
  <section class="grid grid-rows-2 md:grid-rows-1 md:grid-cols-2 justify-items-center items-center dark:bg-blue-900 bg-blue-500 text-slate-200 font-primary">
    <div class="w-full flex flex-col md:h-[65vh] items-center justify-center  md:space-y-3 md:relative my-10 md:my-0">
      <img src="/images/SunkBlogo.svg" alt="" class="w-4/5 ">
      <h2 class="text-4xl text-center md:absolute bottom-40">Innovative Underwater Engineering</h2>
    </div>
    <img src="/images/team.jpg" alt="picture of the sunk team" width="80%" class="rounded-xl">
  </section>
  <section class="grid md:grid-cols-2 justify-items-center items-center dark:bg-blue-950 bg-slate-200 text-slate-900 dark:text-slate-200 font-primary">
    <img src="/images/poolside.jpg" alt="Two sunk team members by the pool" width="80%" class="rounded-xl pt-4">
    <div class="w-full md:h-[65vh] flex flex-col items-center justify-center space-y-10 p-6 ">
      <h1 class="text-7xl text-center">Our Mission</h1>
      <p class="text-xl my-7">
        Sunk Robotics has a simple mission. 
        We aim to create technologies for a sustainable future for our oceans and the world as a whole. 
      </p>
      <p class="text-xl my-7">
        Sustainability and the environment are major themes of Sunk's projects. 
        When we design our robots, we make sure to keep in mind the environmental impact of the materials and processes involved.

      </p>
    </div>
  </section>
  <section>
    
  </section>
{{ end }}
