{{ define "main" }}
  <section class="md:grid grid-cols-2 justify-items-center items-center dark:bg-blue-900 bg-blue-500 text-slate-200 font-primary">
    <div class="w-full h-[65vh] flex flex-col items-center justify-center space-y-3 relative">
      <img src="/images/SunkBlogo.svg" alt="" class="w-4/5 h-4/5 ">
      <h2 class="text-4xl text-center absolute bottom-40">Innovative Underwater Engineering</h2>
    </div>
    <img src="/images/team.jpg" alt="picture of the sunk team" width="80%" class="rounded-xl">
  </section>
  <section class="md:grid grid-cols-2 justify-items-center items-center dark:bg-blue-950 bg-slate-200 text-slate-900 dark:text-slate-200 font-primary">
    <img src="/images/poolside.jpg" alt="Two sunk team members by the pool" width="80%" class="rounded-xl">
    <div class="w-full h-[65vh] flex flex-col items-center justify-center space-y-3">
      <h1 class="text-7xl text-center">Our Mission</h1>
      <p class="text-xl">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic dolorem voluptatem, libero commodi quasi fugiat voluptates nemo iure, repudiandae corrupti sunt nisi dolor quaerat animi fugit odio aperiam suscipit maiores.</p>
    </div>
  </section>
  <section>
    
  </section>
{{ end }}